<%# Page Header %>
<%= render "shared/components/page_header",
    title: "Create New Shop",
    subtitle: "Set up a new shop to manage your OLX product imports" %>

<div class="max-w-2xl">
  <%= render "shared/components/card" do %>
    <%= render "form", shop: @shop %>
  <% end %>
</div>
