<%# Page Header %>
<%= render "shared/components/page_header",
    title: "Edit OLX Category Template",
    subtitle: "Update your template configuration and attribute mappings" %>

<div class="max-w-4xl">
  <%= render "form", template: @template %>
</div>
