<% if page.current? %>
  <span class="inline-flex h-9 w-9 items-center justify-center rounded-lg bg-primary text-sm font-medium text-white">
    <%= page %>
  </span>
<% else %>
  <%= link_to page, url, remote: remote, rel: page.rel, class: 'inline-flex h-9 w-9 items-center justify-center rounded-lg text-sm font-medium text-gray-700 hover:bg-gray-100 dark:text-bodydark1 dark:hover:bg-strokedark transition-colors' %>
<% end %>
