<%# Page Header %>
<%= render "shared/components/page_header",
    title: "New Product",
    subtitle: "Add a new product to #{@shop.name}" %>

<div class="max-w-4xl">
  <%= render "shared/components/card" do %>
    <%= render "form", product: @product %>
  <% end %>
</div>
